<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        footer{
            display: flex;
            justify-content: space-between;
            padding: 10px 10px;
            background-color: white;
        }
        footer p{
            font-size: 13px;
        }
        @media screen and (max-width: 670px){
            footer{
            box-shadow: none;
            width: 100%;
            display: block;
            }
        }
    </style>
</head>
<body>
    <footer>
        <p>Copyright Maryam</p>
        <p>Book Cover credits: Open Library API</p>
    </footer>
</body>
</html>